<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>
            <h1><a href="">Figueira Ferraz</a></h1>
        </div>

        <div>
            <h2><a href="">Uniformes profissionais</a></h2>
            <p>Há 22 anos trabalhando com a imagem e segurança dos seus funcionários.</p>
        </div>
        <div>
            <h2><a href="">Entre em contato conosco</a></h2>
            <em><p>Fone: 3364.2201 
            Av. Salvador Leão, 648 - Porto Alegre, RS.</p></em>
        </div>
    </body>
</html>